## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviertela par que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [3]:
ejer_2 = [1,2,3,4,5]
for i in range(len(ejer_2)):
    ejer_2[i] = ejer_2[i]**2
    
print(ejer_2)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes os listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [5]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

ejer_3_tot = []

for i in ejer_3_1:
    for j in ejer_3_2:
        ejer_3_tot.append(i + " " + j)
        
print(ejer_3_tot)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el valor 45, sustituyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [6]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
print(ejer_4)

indice = ejer_4.index(45)
ejer_4[indice] = 0

print(ejer_4)

[20, 47, 19, 29, 45, 67, 78, 90]
[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

In [1]:
ejer_5 = [3, 20, 3, 47, 19, 3, 3, 29, 45, 67, 78, 90, 3, 3]

for i in ejer_5:
    print(i)
    print(ejer_5)
    if i == 3:
        ejer_5.remove(3)
        
        #print(ejer_5)
        
print(ejer_5)

3
[3, 20, 3, 47, 19, 3, 3, 29, 45, 67, 78, 90, 3, 3]
3
[20, 3, 47, 19, 3, 3, 29, 45, 67, 78, 90, 3, 3]
19
[20, 47, 19, 3, 3, 29, 45, 67, 78, 90, 3, 3]
3
[20, 47, 19, 3, 3, 29, 45, 67, 78, 90, 3, 3]
29
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
45
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
67
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
78
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
90
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
3
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[20, 47, 19, 29, 45, 67, 78, 90, 3, 3]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [23]:
# Apartado 1
ejer_6_1 = (1,2,3)
print(ejer_6_1)

# Apartado 2
ejer_6_2 = (4,)
print(ejer_6_2)
print(type(ejer_6_2))

# Apartado 3
ejer_6_3 = ("a", 5, True, 7.)
print(ejer_6_3)

# Apartado 4
print(ejer_6_3[0])
print(ejer_6_3[len(ejer_6_3)-1])

# Apartado 5
ejer_6_5 = (8,)
ejer_6_5_1 = ejer_6_3 + ejer_6_5
print(ejer_6_5_1)

# Apartado 6
ejer_6_1 = ejer_6_5_1[0:2]
ejer_6_2 = ejer_6_5_1[3:5]
print(ejer_6_1 + ejer_6_2)

# Apartado 7
print(list(ejer_6_5_1))

(1, 2, 3)
(4,)
<class 'tuple'>
('a', 5, True, 7.0)
a
7.0
('a', 5, True, 7.0, 8)
('a', 5, 7.0, 8)
['a', 5, True, 7.0, 8]

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [24]:
ejer_7 = ("cien", "cañones", "por", "banda")

print(" ".join(ejer_7))

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [3]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [8]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print(ejer_9.count(3))

ejer_9_2 = ejer_9[4:10]
print(ejer_9_2)

print(len(ejer_9))

7
(19, 3, 29, 45, 67, 78)
26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [9]:
60 in ejer_9

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [13]:
ejer_11 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

# Convertir a lista
print(list(ejer_11))

# Convertir en set
print(set(ejer_11))

ejer_11_dict = {}
# Convertir a diccionario
for i,j in enumerate(ejer_11):
    #print(i)
    #print(j)
    ejer_11_dict[i] = j
    
print(ejer_11_dict)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

In [15]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
ejer_12_dic = {}

for i,j in ejer_12:
    #print(i)
    #print(j)
    ejer_12_dic[i] = j
    
print(ejer_12_dic)

{'x': 3, 'y': 2, 'z': 1}

In [16]:
dict(ejer_12)

{'x': 3, 'y': 2, 'z': 1}

In [18]:
ejer_12_dic["x"]

3

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [29]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

# Lista de claves ordenada ascendentemente
list_1 = sorted(list(ejer_13.keys()))

# Lista de valores ordenados descendentemente
list_2 = sorted(list(ejer_13.values()), reverse = True)
print(list_1)
print(list_2)

# Añadir elemento
ejer_13[9] = 65
print(ejer_13)

print(2 in ejer_13)

for clave, valor in ejer_13.items():
    print(f"Clave: {clave}, Valor -> {valor}")

[2, 4, 5, 8]
[234, 98, 78, 29]
{4: 78, 2: 98, 8: 234, 5: 29, 9: 65}
True
Clave: 4, Valor -> 78
Clave: 2, Valor -> 98
Clave: 8, Valor -> 234
Clave: 5, Valor -> 29
Clave: 9, Valor -> 65

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [30]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)
print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [31]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

print(sum(ejer_15.values()))

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [32]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

prod = 1
for i in ejer_16.values():
    prod = prod * i
    
print(prod)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presenta. Usa `discard()`

In [36]:
# Crear set
ejer_17 = {5,8,2}
print(ejer_17)

# Añadir elemento
ejer_17.add(6)
print(ejer_17)

# Elimina el ultimo elemento
ejer_17.remove(6)

# Eliminar el elemento 10
ejer_17.discard(10)

{8, 2, 5}
{8, 2, 5, 6}