![imagen](../../imagenes/ejercicios.png)

# Ejercicio SQL
Para este ejercicio usaremos una base de datos del FIFA 20. **Asegúrate que tienes el CSV "FIFA20.csv" en la misma carpeta donde está este Notebook**. Realiza los siguientes apartados:

1. Obtén una tabla con todos los campos
2. Obtén una tabla con los campos "short_name", "club", "team_position"
3. Obtén la misma tabla que el apartado anterior, pero en este caso renombrando los campos al castellano.
4. ¿Cuáles son todos los "team_position" diferentes?
5. ¿Cuáles son todos los "team_position" y "preferred_foot" diferentes?
6. ¿Cuáles son los jugadores diestros? ("preferred_foot" = "Right")
7. Obtén una tabla con los jugadores influencers
8. Obtén una tabla con los extremos izquierda ('team_position' = 'LW') influencers
9. Obtén una tabla con los jugadores cuyo nombre empieze por "W" y tenga una puntuación ('overall') mayor de 80 puntos.
  1. ¿Y si ponemos el límite de la puntuación en mayor de 90 puntos?
10. Saca una tabla con los jugadores del Real Madrid, que NO sean diestros y tengan un potencial superior a 85
11. ¿Cuál es el jugador con la puntuación ('overall') más alta?
12. ¿Cuál es la media del valor (value_eur) de todos los jugadores, en millones de euros, sabiendo que las unidades del valor de la tabla son euros?
13. ¿Cuál es la media del salario por equipo? Ordena el resultado de mayor a menor salario
14. Calcula la máxima puntuación ('overall') por club. Ordena el resultado de menor a mayor puntuación

**NOTA**: se recomienda añadir un `LIMIT 5` en la mayoría de apartados para evitar grandes outputs de las queries.

In [25]:
# Importamos paquetes
import pandas as pd
import sqlite3
cnx = sqlite3.connect(':memory:')

# Importamos datos de un CSV
df = pd.read_csv('FIFA20.csv')
df.head()

,short_name,long_name,dob,club,overall,potential,value_eur,wage_eur,team_position,preferred_foot,influencer
0,L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,FC Barcelona,94,94,95500000,565000,RW,Left,True
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,Juventus,93,93,58500000,405000,LW,Right,True
2,Neymar Jr,Neymar da Silva Santos Junior,1992-02-05,Paris Saint-Germain,92,92,105500000,290000,CAM,Right,True
3,J. Oblak,Jan Oblak,1993-01-07,Atlético Madrid,91,93,77500000,125000,GK,Right,False
4,E. Hazard,Eden Hazard,1991-01-07,Real Madrid,91,91,90000000,470000,LW,Right,True

In [26]:
# Pasamos el DataFrame de Pandas a SQL
df.to_sql('fifa20', con=cnx, if_exists='replace', index=False)

# Definimos la función para hacer queries.
def sql_query(query):
    return pd.read_sql(query, cnx)

In [27]:
# 1. Ejemplo estructura para formar las queries en este entorno. Solo dbeemos fijarnos en entender SQL de momento
# El ejemplo obtiene la cuenta de todos los registros de la tabla
query = '''
SELECT COUNT(1) FROM fifa20
'''

sql_query(query)

   COUNT(1)
0     18278

In [ ]:
# 1. Obten una tabla con todos los campos
query = '''

'''

sql_query(query)

In [ ]:
# 2. Obtén una tabla con los campos "short_name", "club", "team_position"
query = '''

'''

sql_query(query)

In [ ]:
# 3. Obtén la misma tabla que el apartado anterior, pero en este caso renombrando los campos al castellano.
query = '''

'''

sql_query(query)

In [ ]:
# 4. ¿Cuáles son todos los "team_position" diferentes?
query = '''

'''

sql_query(query)

In [ ]:
# 5. ¿Cuáles son todos los "team_position" y "preferred_foot" diferentes?
query = '''

'''

sql_query(query)

In [ ]:
# 6. ¿Cuáles son los jugadores diestros? ("preferred_foot" = "Right")
query = '''

'''

sql_query(query)

In [ ]:
# 7. Obtén una tabla con los jugadores influencers
query = '''

'''

sql_query(query)

In [ ]:
query = '''

'''

sql_query(query)

In [ ]:
# 8. Obtén una tabla con los extremos izquierda ('team_position' = 'LW') influencers
query = '''

'''

sql_query(query)

In [ ]:
# 9. Obtén una tabla con los jugadores cuyo nombre empieze por "W" y tenga una puntuación ('overall') mayor de 80 puntos
query = '''

'''

sql_query(query)

In [ ]:
# 9. ¿Y si en lugar de 80, buscamos que la puntuación sea mayor de 90?
query = '''

'''

sql_query(query)

Correcto. Ninguno lo cumple

In [ ]:
# 10. Saca una tabla con los jugadores del Real Madrid, que NO sean diestros y tengan un potencial superior a 85
query = '''

'''

sql_query(query)

In [ ]:
# 11. ¿Cuál es el jugador con la puntuación ('overall') más alta?
query = '''

'''

sql_query(query)

In [ ]:
# 12. ¿Cuál es la media del valor (value_eur) de todos los jugadores, en millones de euros, sabiendo que las unidades del valor de la tabla son euros?
query = '''

'''

sql_query(query)

In [ ]:
# 13. ¿Cuál es la media del salario por equipo? Ordena el resultado de mayor a menor salario
query = '''

'''

sql_query(query)

In [ ]:
# 14. Calcula la máxima puntuación ('overall') por club. Ordena el resultado de menor a mayor puntuación
query = '''

'''

sql_query(query)