# Ejercicio 1

Vamos a hacer un ejercicio con datos de verdad

### 1. Vamos a utilizar el fichero"openfoodfacts_products.csv"

Para no andar descargando ficheros muy grandes, lo que tenemos es una muestra del fichero de 3GB descargable desde https://static.openfoodfacts.org/data/en.openfoodfacts.org.products.csv

Si quieres, y tienes memoria suficiente en tu PC, podrías intentar el ejemplo con el dataset completo, pero las operaciones serán mucho más lento.

###  2. Importa las librerías de Pandas y Numpy

In [1]:
import pandas as pd
import numpy as np

### 3. Asegúrate de que el fichero esté en la misma carpeta (semana6/dia_2) y léelo con la sentencia que tienes ahí

In [33]:
food = pd.read_csv("en.openfoodfacts.org.products.csv", sep='\t')

### 4. Muestra las 5 primeras filas

In [51]:
food.iloc[:5]
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,carbon-footprint-from-meat-or-fish_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g
0,6281018143949,http://world-en.openfoodfacts.org/product/6281...,waistline-app,1546876412,2019-01-07T15:53:32Z,1546876412,2019-01-07T15:53:32Z,Greek yoghurt drink plain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4260283740246,http://world-en.openfoodfacts.org/product/4260...,knolske,1563388810,2019-07-17T18:40:10Z,1600430320,2020-09-18T11:58:40Z,Fettarme Milch,Fettarme Milch,1 l,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7791004000082,http://world-en.openfoodfacts.org/product/7791...,kiliweb,1572963121,2019-11-05T14:12:01Z,1587422058,2020-04-20T22:34:18Z,Sal Gruesa,NaN,1 kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0729440149765,http://world-en.openfoodfacts.org/product/0729...,usda-ndb-import,1489079684,2017-03-09T17:14:44Z,1587590932,2020-04-22T21:28:52Z,"Delissa, Whole Ring Cake",NaN,NaN,...,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3162050006153,http://world-en.openfoodfacts.org/product/3162...,date-limite-app,1430308735,2015-04-29T11:58:55Z,1572639385,2019-11-01T20:16:25Z,Gousse de vanille bourbon,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 5. ¿Cuántas observacinoes tiene el dataset?

In [53]:
# Filas
food.shape[0]

3000

### 6. ¿Y el número de columnas?

In [54]:
# Columnas
food.shape[1]

182

### 7. Muestra el nombre de TODAS las columnas

In [55]:
for col in food.columns:
    print(col)

code
url
creator
created_t
created_datetime
last_modified_t
last_modified_datetime
product_name
generic_name
quantity
packaging
packaging_tags
packaging_text
brands
brands_tags
categories
categories_tags
categories_en
origins
origins_tags
manufacturing_places
manufacturing_places_tags
labels
labels_tags
labels_en
emb_codes
emb_codes_tags
first_packaging_code_geo
cities
cities_tags
purchase_places
stores
countries
countries_tags
countries_en
ingredients_text
allergens
allergens_en
traces
traces_tags
traces_en
serving_size
serving_quantity
no_nutriments
additives_n
additives
additives_tags
additives_en
ingredients_from_palm_oil_n
ingredients_from_palm_oil
ingredients_from_palm_oil_tags
ingredients_that_may_be_from_palm_oil_n
ingredients_that_may_be_from_palm_oil
ingredients_that_may_be_from_palm_oil_tags
nutriscore_score
nutriscore_grade
nova_group
pnns_groups_1
pnns_groups_2
states
states_tags
states_en
brand_owner
main_category
main_category_en
image_url
image_small_url
image_ingredients_url
image_ingredients_small_url
image_nutrition_url
image_nutrition_small_url
energy-kj_100g
energy-kcal_100g
energy_100g
energy-from-fat_100g
fat_100g
saturated-fat_100g
-butyric-acid_100g
-caproic-acid_100g
-caprylic-acid_100g
-capric-acid_100g
-lauric-acid_100g
-myristic-acid_100g
-palmitic-acid_100g
-stearic-acid_100g
-arachidic-acid_100g
-behenic-acid_100g
-lignoceric-acid_100g
-cerotic-acid_100g
-montanic-acid_100g
-melissic-acid_100g
monounsaturated-fat_100g
polyunsaturated-fat_100g
omega-3-fat_100g
-alpha-linolenic-acid_100g
-eicosapentaenoic-acid_100g
-docosahexaenoic-acid_100g
omega-6-fat_100g
-linoleic-acid_100g
-arachidonic-acid_100g
-gamma-linolenic-acid_100g
-dihomo-gamma-linolenic-acid_100g
omega-9-fat_100g
-oleic-acid_100g
-elaidic-acid_100g
-gondoic-acid_100g
-mead-acid_100g
-erucic-acid_100g
-nervonic-acid_100g
trans-fat_100g
cholesterol_100g
carbohydrates_100g
sugars_100g
-sucrose_100g
-glucose_100g
-fructose_100g
-lactose_100g
-maltose_100g
-maltodextrins_100g
starch_100g
polyols_100g
fiber_100g
-soluble-fiber_100g
-insoluble-fiber_100g
proteins_100g
casein_100g
serum-proteins_100g
nucleotides_100g
salt_100g
sodium_100g
alcohol_100g
vitamin-a_100g
beta-carotene_100g
vitamin-d_100g
vitamin-e_100g
vitamin-k_100g
vitamin-c_100g
vitamin-b1_100g
vitamin-b2_100g
vitamin-pp_100g
vitamin-b6_100g
vitamin-b9_100g
folates_100g
vitamin-b12_100g
biotin_100g
pantothenic-acid_100g
silica_100g
bicarbonate_100g
potassium_100g
chloride_100g
calcium_100g
phosphorus_100g
iron_100g
magnesium_100g
zinc_100g
copper_100g
manganese_100g
fluoride_100g
selenium_100g
chromium_100g
molybdenum_100g
iodine_100g
caffeine_100g
taurine_100g
ph_100g
fruits-vegetables-nuts_100g
fruits-vegetables-nuts-dried_100g
fruits-vegetables-nuts-estimate_100g
collagen-meat-protein-ratio_100g
cocoa_100g
chlorophyl_100g
carbon-footprint_100g
carbon-footprint-from-meat-or-fish_100g
nutrition-score-fr_100g
nutrition-score-uk_100g
glycemic-index_100g
water-hardness_100g
choline_100g
phylloquinone_100g
beta-glucan_100g
inositol_100g
carnitine_100g

### 8. ¿Cuál es el nombre de la columna 105ª?

In [56]:
col105 = food.columns[104]
col105

'-elaidic-acid_100g'

### 9. ¿Cuál es el tipo de esa columna?

In [57]:
food[col105].dtype

dtype('float64')

### 10. ¿Cómo está indexado el dataset?

In [58]:
food.index

RangeIndex(start=0, stop=3000, step=1)

### 11. ¿Cuál es el nombre de producto de la 19ª observación?

In [59]:
food['product_name'].loc[18]

'Sugo Arrabbiata'

# Ejercicio 2

### 1. Comenzamos importando las librerías que vamos a utilizar

In [110]:
import pandas as pd
import numpy as np

### 2. Leemos el fichero directamente de la siguiente [url](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)

Será de tipo .tsv. No te preocupes, es otro tipo de fichero más, que en unos días veremos junto a otros para trabajar con la lectura y escritura de datos.

Además, al hacerlo directamente, no se nos descargará un fichero sino que se leerá en un DataFrame, por lo que no tendremos que andar moviendo ficheros

In [111]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### 3. Muestra las 100 primeras filas

In [112]:
chipo.loc[:100]
chipo.head(100)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
95,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
96,42,1,Chips and Guacamole,NaN,$4.45
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75

### 4. Traduce las columnas al castellano (el id lo puedes dejar así)

In [113]:
chipo.columns = ['id_orden', 'cantidad', 'nombre_objeto', 'descripcion_eleccion', 'precio_objeto']

### 5. ¿Cuál es el número de observaciones del dataset? Obtenlo de 2 formas diferentes

In [114]:
# Solution 1
chipo.shape[0]

4622

In [115]:
# Solution 2
len(chipo[chipo.columns[0]])

4622

### 6. ¿Cuál es el número de columnas del dataset? Obtenlo de 2 formas diferentes

In [116]:
# Solution 1
chipo.shape[1]

5

In [117]:
# Solution 2
len(chipo.columns)

5

### 7. Imprime todas las columnas que tengan un ``_`` en su nombre

In [118]:
for col in chipo.columns:
    if '_' in col:
        print(col)

id_orden
nombre_objeto
descripcion_eleccion
precio_objeto

### 8. ¿Cómo está indexado?

In [119]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 9. Muestra el dataset filtrado para quedarnos con los registros cuya cantidad sea mayor que 1

In [120]:
chipo[chipo['cantidad']>1]

,id_orden,cantidad,nombre_objeto,descripcion_eleccion,precio_objeto
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
18,9,2,Canned Soda,[Sprite],$2.18
51,23,2,Canned Soda,[Mountain Dew],$2.18
135,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50
148,67,2,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",$17.98
...,...,...,...,...,...
4491,1786,4,Canned Soft Drink,[Sprite],$5.00
4499,1789,2,Canned Soft Drink,[Coke],$2.50
4560,1812,2,Canned Soft Drink,[Coke],$2.50
4561,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50
4582,1822,2,Bottled Water,NaN,$3.00

### 10. ¿Qué tipo de datos tiene la columna que hace referencia al precio del objeto?

In [121]:
chipo['precio_objeto'].dtype

dtype('O')

### 11. Sobreescribe la columna de precio para que tenga un tipo numérico

Para hacerlo, iteraremos por cada uno de los registros de la columna modificando cada registro para que nos quedemos con lo que nos interese.

Otra opción, más segura, sería crearnos una copia de la columna en una variable, que será de tipo Series. Haremos las modificaciones sobre el Series. Y, una vez lo tengamos, sobreescribimos la columna inicial con el series modificado

In [123]:
for i in range(len(chipo['precio_objeto'])):
    chipo['precio_objeto'].loc[i] = float(chipo['precio_objeto'].loc[i][1:])

chipo

TypeError: 'float' object is not subscriptable

### 11. Crea una nueva columna 'precio_total' que sea el producto de las columnas que hacen referencia a la cantidad y al precio por objeto

Asegúrate de que la columna resultado muestra lo que realmente se pide

In [125]:
chipo['precio_objeto'] = chipo['precio_objeto']


chipo['precio_total'] = chipo['cantidad']*chipo['precio_objeto']
chipo

,id_orden,cantidad,nombre_objeto,descripcion_eleccion,precio_objeto,precio_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### 12. Muestra el dataset filtrado para quedarnos con los registros cuya precio total esté entre 10 y 12 dólares (límites incluidos)

In [130]:
chipo[(chipo['precio_total']>=10) & (chipo['precio_total']<=12)]

,id_orden,cantidad,nombre_objeto,descripcion_eleccion,precio_objeto,precio_total
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

### 13. ¿Cuál es la media de las columnas del DataFrame?

In [148]:
chipo.mean()

id_orden         926.254868
cantidad           0.075725
precio_objeto      5.074336
precio_total       6.099186
dtype: float64

### 14. ¿Cuál es el nombre del objeto más caro?

Probablemente tengas que hacerlo en varios pasos

In [157]:
max_precio = chipo['precio_objeto'].max()
chipo[chipo['precio_objeto'] == max_precio]['nombre_objeto']

3598    Chips and Fresh Tomato Salsa
Name: nombre_objeto, dtype: object

### 15. Réstale, a cada una de las columnas numéricas, el valor que tiene la primera fila

Puedes hacerlo de varias formas, como utilizando un DataFrame auxiliar, ¿se te ocurre cómo podemos hacer para que obtengamos un DataFrame que mantenga los datos de las no numéricas?

In [139]:
chipo_aux = chipo[['id_orden', 'cantidad', 'precio_objeto', 'precio_total']]

chipo_aux = chipo_aux - chipo_aux.loc[0]

for col in chipo.columns:
    if col in chipo_aux.columns:
        chipo[col] = chipo_aux[col]

chipo

,id_orden,cantidad,nombre_objeto,descripcion_eleccion,precio_objeto,precio_total
0,0,0,Chips and Fresh Tomato Salsa,NaN,0,0
1,0,0,Izze,[Clementine],1,1
2,0,0,Nantucket Nectar,[Apple],1,1
3,0,0,Chips and Tomatillo-Green Chili Salsa,NaN,0,0
4,1,1,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",14.59,31.57
...,...,...,...,...,...,...
4617,1832,0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",9.36,9.36
4618,1832,0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",9.36,9.36
4619,1833,0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.86,8.86
4620,1833,0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",6.36,6.36
4621,1833,0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",6.36,6.36

### 13. Repite lo mismo restándole la media

In [158]:
chipo_aux = chipo[['id_orden', 'cantidad', 'precio_objeto', 'precio_total']]

chipo_aux = chipo_aux - chipo.mean()

for col in chipo.columns:
    if col in chipo_aux.columns:
        chipo[col] = chipo_aux[col]

chipo

,id_orden,cantidad,nombre_objeto,descripcion_eleccion,precio_objeto,precio_total
0,-926.254868,-0.075725,Chips and Fresh Tomato Salsa,NaN,-5.07434,-6.09919
1,-926.254868,-0.075725,Izze,[Clementine],-4.07434,-5.09919
2,-926.254868,-0.075725,Nantucket Nectar,[Apple],-4.07434,-5.09919
3,-926.254868,-0.075725,Chips and Tomatillo-Green Chili Salsa,NaN,-5.07434,-6.09919
4,-925.254868,0.924275,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",9.51566,25.4708
...,...,...,...,...,...,...
4617,905.745132,-0.075725,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",4.28566,3.26081
4618,905.745132,-0.075725,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",4.28566,3.26081
4619,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",3.78566,2.76081
4620,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",1.28566,0.260814
4621,906.745132,-0.075725,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",1.28566,0.260814